{% extends 'aux_ripp/base.html' %}

{% block mybody %}

<script>
    $(document).ready(function(){
        $("input[name=amount]").keyup(function(){
            $("#in_xrp").text($('input[name=amount]').val()/1000000);
        });
    });

</script>

    {% if error_message %}
        <strong> {{ error_message }}</strong>
    {% endif %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="{% url 'aux_ripp:transaction' %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <label id="in_xrp">0</label> XRP
                            <br>
                            *Please note the Bid Id for future reference.
                            <br>
                            <br>
                            <button type="submit">Submit</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}