<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <link rel="stylesheet" href="{% static 'admin_panel/style.css' %}">
</head>
<body>

{% if error_message %}
<b>{{ error_message }}</b>
{% endif %}

<div class="wrap">

	<div class="avatar">
		<img src="{% static 'admin_panel/images/xrp2.png' %}">
	</div>

	<form class="form-horizontal" name="LoginForm" action="" method="post">
		{% csrf_token %}
		<input type="text" placeholder="username" id="user_name" name="user_name" required>
		<div class="bar">
			<i></i>
		</div>
		<input type="password" placeholder="password" id="password" name="password" required>
		<br>
		<button type="submit">Sign in</button>
	</form>

</div>


</body>
</html>