{% extends 'aux_ripp/base.html' %}

{% block mybody %}

    {% if error_message %}
        <strong> : {{ error_message }}</strong>
    {% else %}
        <table class="table table-dark">
            <thead>
              <tr>
                  <th>User Name</th>
                  <th>Address</th>
                  <th>Balance</th>
                  <th>Active</th>
                  <th>Multisig</th>
              </tr>
            </thead>
            <tbody>
            {% for a in address  %}
                <tr>
                    <td>{{ a.name }}</td>
                    <td>{{ a.address }}</td>
                    <td>{{ a.balance }}</td>
                    <td>{{ a.is_active }}</td>
                    <td>{{ a.is_multi_sig }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}